@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary: #04aa8c;
	--clr-white: #f7fdff;
	--clr-middle: #7e7e7e;
	--clr-middle-2: #eee;
	--clr-dark: #1a2528;
	--clr-dark-1: #2c2f31;
	--clr-dark-2: #35383a;
	--clr-warning: #f6db2d;
	--clr-warning-2: #e4ab41;
	--clr-error: #d53051;
	--clr-error-2: #972038;
	--clr-success: #97da3f;
	--clr-success-2: #79b139;
	--clr-success-3: #a9e45d;
}

html,
body {
	font-family: 'Nunito' !important;
	padding: 0;
	margin: 0;
	background-color: var(--clr-white);
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	color: var(--clr-dark) !important;
}

h1,
h2 {
	font-weight: bold !important;
}

h1 {
	font-size: 2em !important;
}

h2 {
	font-size: 1.5em !important;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

main.container {
	padding-top: 2em;
}
